:root {
    --sidebar-width: 25rem;
    --cover-bg: url('./images/logo-git.png');
}

body>main>aside>div.search>div.input-wrap {
    margin: 0 auto !important;
}

body>main>aside>div.search>div.input-wrap {
    border-radius: 20px !important;
    height: 30px;
}

.sidebar .search input[type=search]:focus {
    border-radius: 20px !important;
}

.imgs-equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.info-equipe {
    align-items: center;
    text-align: center;
}

h3>a>span {
    color: rgba(11,135,218,255);
}

@media (max-width: 765px) {
    .imgs-equipe {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 10px; 
    }
}